<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto D</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="titulo">
        <h1>Hola Daniela!!!</h1>
        <p class="parrafo">Pase por aqui para saludarte, y no puedo perder la oportunidad de decirte que me encantas...!!!! Tambien darte informacion sobre como abrir la cuenta en el Banco BNC</p>

        <h3><a href="https://www.bncenlinea.com/productos-y-servicios/requisitos/cuenta-de-ahorro">Requisitos para apertura de cuenta</a></h3>

        <h2><a href="https://servicios.bncenlinea.com/PreCustomers/UniqueCustomerBase/FrmGenerateRequest.aspx">Preapertura de cuenta BNC</a></h2>
      
        <button onclick="imagen()">Enviar</button>
        
        <div id="imagenCargando" class="corazon"></div>
        

    
    </div>

    

    <script src="/javascript/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>   
</body>
</html> 