
.titulo {
    width: 200px;
/*     padding-top: 10px;
    padding-left: 500px;
    padding-right: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background: white;
    text-align: center;
    border: 2px solid blueviolet;
    border-radius: 10px;
    color: blueviolet ;
    background-color: whitesmoke;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h2, a {
    color: red;
}

h3, a {
    color: red;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

button {
    width: 60px;
    height: 30px;
    margin-top: 50px;
    color: red;
    border: 2px solid blueviolet;
    border-radius: 3px;
    background-color: #4D90FE;
    font-weight: bold;
}

.corazon {
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}


